*,
*::after,
*::before {
  margin: 0;
  height: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background: #221a36;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  height: 100%;
  justify-content: flex-start;
  padding: 1em;
  width: 100vw;

  & img {
    height: 100vh;
    max-height: 320px;
    max-width: 320px;
    width: 100vw;
  }

  & p {
    color: #a380fe;
    font-size: 1.25em;
  }

  & footer {
    align-items: center;
    bottom: 5em;
    color: #a380fe;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: absolute;

    & p {
      font-size: 1em;
    }

    & a {
      font-size: 0.625em;
      color: #a380fe;
    }
  }
}
